@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/GothaProReg.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-style: normal;

  src: url(../fonts/GothaProMed.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;

  src: url(../fonts/GothaProBol.otf) format('opentype');
}
