.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;
}

.advantages h2 {
  width: 100%;
}

.advantages-item {
  width: 220px;
}

.advantages span {
  display: block;
  font-size: 32px;
  line-height: 69px;
  width: 69px;
  height: 69px;
  margin-bottom: 35px;
  text-align: center;
  color: #e36c25;
  border: 1px solid #e36c25;
  border-radius: 50%;
}
